coreapi==2.3.3
mod_wsgi==4.9.2
Django==3.2.14
django-allauth==0.51.0
django-rest-auth[with_social]==0.9.5
djangorestframework==3.13.1
ginsim
git+https://github.com/colomoto/pyMaBoSS.git
mysqlclient==2.1.1
PyYAML
scikit-learn
networkx
pydot
python-libsbml
